---
import "../styles/HeadText.css";
interface Props {
  firstLine: string;
  secondLine?: string;
  img?: string;
}

const { firstLine, secondLine, img } = Astro.props;
---

{img ? (
  <div class="container">
    <!-- Image tag -->
    <img class="background-image" src={img} alt="Imagen de fondo" />

    <!-- Text overlay -->
    <div class="text-overlay">
      <h2>
        <span class="smallTitle">{secondLine}</span><br />
        <span class="bigTitle">{firstLine}</span>
      </h2>
    </div>
  </div>
) : (
  <div class="container-no-img">
    <h2>{secondLine}</h2>
    <h1>{firstLine}</h1>
  </div>
)}